*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(back.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
body div{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
body div h1{
    color: white;
    margin-bottom: 50px;
}

body div a{
    color: rgb(255, 247, 247);
    text-decoration: underline;
}

@media(max-width:800px){
    body div h1{
        color: white;
        margin-bottom: 30px;
        font-size: 20px;

    }
    
    body div a{
        color: rgb(255, 247, 247);
        text-decoration: underline;
        font-size: 10px;
    }
}
