@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Russo+One&family=Smooch+Sans:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Russo+One&family=Smooch+Sans:wght@100;400&family=ZCOOL+KuaiLe&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body  {
    position: relative;
}
nav {
    background: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    font-size: 2rem;
    transition: 0.5s;
    font-family: 'Smooch Sans', sans-serif;
}
nav .mainMenu li a:hover{
    background: rgb(241, 0, 0);
    color: #fff;
}
nav .mainMenu li .active{
    background: rgb(241, 0, 0);
    color: #fff;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
    cursor: pointer;
    margin: 4px 0 0 10px;
    width: 8em;

}
@media(max-width: 850px){

    nav{
        align-items: center;
    }
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    
    }
    nav .mainMenu li a{
        font-size: 30px;
    }
    nav .mainMenu li .active{
        background-color: transparent;
    }
    nav .mainMenu li .contact-us{
        display: none;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 247, 247);
        font-size: 2rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }

}


/* sec-1  */

.sec-1-main .banner-section div{
    position: absolute;
    left: 50%;
    top:35%;
    transform: translate(-50%,-30%);
    text-align: center;
}

.sec-1-main .banner-section div h1{
    color: red;
    font-size: 40px;
}
.sec-1-main .banner-section div h1 span{
    font-size: 90px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,
    0 0 15px rgb(255, 0, 0),
    0 0 20px #ff0000, 
    0 0 30px #ff0000, 
    0 0 40px #ff0000, 
    0 0 55px #fb0000, 
    -1px 0px 15px rgba(255, 255, 255, 0.73);
}
.sec-1-main .banner-section div {
    text-shadow: 5px 16px rgba(206,89,55,0),
    #ff0000 0px 0px 75px,
    #eb5252 0px 0px 50px,
    #c21919 0px 0px 40px,
    #af4141 0px 0px 20px,
    #FFF 0px 0px 15px,
    #FFF 0px 0px 5px;
    font-family: 'Smooch Sans', sans-serif;
}
@media(max-width:550px){
    .sec-1-main .banner-section h1 span{
        font-size: 60px;
    }
}

.sec-1-footer p{
    color: white;
    position: absolute;
    left: 50%;
    top:98%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 15px;
    font-family:'Russo One', sans-serif;
}

@media(max-width:800px){
    .sec-1-footer p{
        color: white;
        position: absolute;
        left: 50%;
        top:98%;
        transform: translate(-50%,-50%);
        text-align: center;
        font-size: 10px;

    }
}

@media(max-height:400px){
    .sec-1-main .banner-section h1 span{
        font-size: 20px;
    }
    nav .mainMenu li a{
        font-size: 15px;
        line-height: 5px;
    }
    .sec-1-main .banner-section h1{
        color: white;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-45%);
        text-align: center;
        font-size: 40px;
    }
    header nav{
        height: 35px;
    }
    nav .logo{
        width: 50px;
        margin: 0 5px;
}
}
.sec-1-main .banner-div{
    width: 100%;
    height: 25%;
    background-color: rgb(32, 32, 32);
}
.sec-1-main .banner-section{
    font-family: 'Arial' , sans-serif;
    background-image: url(img/marvel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90.1%;
}

/* scroll back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(255, 0, 0, 0.507);
    border: solid 3px black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }



/* 2nd section - about marvel */


.sec-1-main .banner-section .about-div-banner{
    position: absolute;
    left: 50%;
    top:6%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.about-marvel .title-div{
    text-align: center;
    padding-top: 5em;
}
.about-marvel .title-div h1{
    color: red;
    font-size: 35px;
    font-family: 'Russo One', sans-serif;
}
.about-marvel .title-div img{
    width: 20em;
}
.about-marvel{
    background-color: rgb(151, 151, 151);
}
.about-marvel .info-div{
    padding: 0 20px;
    text-align: center;
}
.about-marvel .info-div div{
    font-family:'Russo One', sans-serif;
    padding-top: 50px;
}
.about-marvel .info-div div h1{
    font-size: 50px;
    padding-bottom: 20px;
}
.about-marvel .info-div div p{
    font-size: 20px;
}

.footer-div p{
    text-align: center;
    color: black;
    font-family:'Russo One', sans-serif;
    padding: 40px 0 5px 0;
}