@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Noto+Serif+Georgian:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-repeat: no-repeat;
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
}

body div h1{
    color: aliceblue;
    font-family: 'Noto Serif Georgian', serif;
    
}

body div a{
    color: aliceblue;
    transition: 0.5s;
    font-family: 'Noto Serif Georgian', serif;
}

body div a:hover{
    color:orange;
}

body div{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    background: rgb(62,0,9);
    background: linear-gradient(90deg, rgba(62, 0, 9, 0.459) 0%, rgba(4, 127, 168, 0.527) 73%, rgba(0, 213, 255, 0.39) 100%);
    border-radius: 15px;
    padding: 70px 5px;
    border: 5px solid black;
    
}

footer{
    position: absolute;
    top: 100%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-100%);
}

footer p{
    color: aliceblue;
    font-family: 'Anek Latin', sans-serif;
    padding-bottom: 5px;
}


@media(max-width: 750px){
    body div h1{
        font-size: 20px;
    }
    body div a{
        font-size: 10px;
    }
    footer p{
        color: aliceblue;
        font-family: 'Anek Latin', sans-serif;
        padding-bottom: 5px;
        font-size: 10px;
    }
}

@media(max-width: 350px){
    body div h1{
        font-size: 10px;
    }
    body div a{
        font-size: 5px;
    }
    footer p{
        color: aliceblue;
        font-family: 'Anek Latin', sans-serif;
        padding-bottom: 5px;
        font-size: 5px;
    }
}